@inject IYouTrackService _youTrackService

<Card Title="Today">
    <h4>@(_hoursWorkedToday ?? "...")</h4>
    <p class="m-0">@(_message ?? "...")</p>
</Card>

@code {
    private string _hoursWorkedToday;

    private string _message;

    protected override async Task OnInitializedAsync()
    {
        var report = await _youTrackService.FetchHourReport();

        _hoursWorkedToday = report.HoursWorkedToday.ToHourAndMinuteFormat();

        _message = report.RemainingWorkHoursToday switch
        {
            > 0 => $"{report.RemainingWorkHoursToday.ToHourAndMinuteFormat()} to go",
            < 0 => $"{@Math.Abs(report.RemainingWorkHoursToday).ToHourAndMinuteFormat()} above target, awesome!",
            _ => "Good job!"
        };
    }
}
