@inject IYouTrackService _youTrackService

<Card Title="This Week">
    <h4>@(_workedHoursThisWeek ?? "...")</h4>
    <p class="m-0">@(_message ?? "...")</p>
</Card>

@code {
    private string _workedHoursThisWeek;

    private string _message;

    protected override async Task OnInitializedAsync()
    {
        var report = await _youTrackService.FetchHourReport();

        _workedHoursThisWeek = report.HoursWorkedThisWeek.ToHourAndMinuteFormat();

        _message = report.RemainingWorkHoursWeek switch
        {
            > 0 => $"{report.RemainingWorkHoursWeek.ToHourAndMinuteFormat()} remaining",
            < 0 => $"{Math.Abs(report.RemainingWorkHoursWeek).ToHourAndMinuteFormat()} above target!",
            _ => "Weekend!"
        };
    }
}
