@inject IYouTrackService _youTrackService

<Card Title="Worked today">
    @if (_workedToday is null)
    {
        <h4>...</h4>
        <p class="m-0">...</p>
    }
    else
    {
        <h4>@_workedToday.Count() issue(s) worked today</h4>
        @foreach (var workItem in _workedToday)
        {
            <p class="m-0"><a href="@workItem.IssueLink">@workItem.IssueId: @workItem.Description</a></p>
        }
    }
</Card>

@code {
    private IEnumerable<YouTrackWorkItem> _workedToday;

    protected override async Task OnInitializedAsync()
    {
        _workedToday = await _youTrackService.FetchMyWorkItems(DateTime.Now);
    }
}
