@page "/"
@inject IYouTrackService _youTrackService

@if (_youTrackStatus == WerkServiceStatus.Ready)
{
    <h5>Time registration</h5>
    <div class="row">
        <div class="col-6">
            <WorkedHoursToday />
        </div>
        <div class="col-6">
            <WorkedHoursThisWeek />
        </div>
    </div>
    <br />
    <h5>Issues</h5>
    <div class="row">
        <div class="col-6">
            <WorkedToday />
        </div>
        <div class="col-6">
            <SolvedToday />
        </div>
    </div>
}

@code{
    private WerkServiceStatus _youTrackStatus;

    protected override async Task OnInitializedAsync()
    {
        _youTrackStatus = await _youTrackService.GetStatus();
    }
}