@page "/"
@inject IYouTrackService _youTrackService

<div class="row">
    @if (_youTrackStatus == WerkServiceStatus.Ready)
    {
        <div class="mb-3 col-12">
            <WorkHours />
        </div>
        <div class="mb-3 col-12">
            <SolvedToday />
        </div>
    }
</div>

@code{
    private WerkServiceStatus _youTrackStatus;

    protected override async Task OnInitializedAsync()
    {
        _youTrackStatus = await _youTrackService.GetStatus();
    }
}